.AdminLogout__button {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

@media screen and (max-width: 767.99px) {
  .AdminLogout {
    position: absolute;
    top: 20px;
    left: 60%;
  }
  .AdminLogout__button {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) {
  .AdminLogout {
    position: absolute;
    top: 30px;
    right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
}

@media screen and (min-width: 1280px) {
}
