// GENERAL
.TransactionForm {
  line-height: normal;
}

.TransactionForm__container {
  padding: 20px 0;
  width: 100%;
}
.TransactionForm__entry {
  border-radius: 15px;
  font-size: 18px;
  padding: 15px;
  min-height: 50px;
}

.TransactionForm__submit {
  background-color: var(--main-color);
  color: white;
  text-align: center;
  border-radius: 15px;
  padding: 15px 0;
  font-size: 21px;
  text-transform: uppercase;
}

//
.TransactionForm__name {
  margin-right: 15px;
}
.TransactionForm__payment_data {
  display: flex;
  position: relative;
}
.TransactionForm__card_data {
  display: flex;

  margin-bottom: 70px;
}
.TransactionForm__payment_info {
  margin-bottom: 30px;
}
.TransactionForm__account {
  margin-bottom: 15px;
}
.TransactionForm__sum {
  margin-right: 15px;
}
.TransactionForm__radios {
  all: unset;
  display: flex;
}

.TransactionForm__radios_wrapper {
  &:not(:last-child) {
    margin-right: 15px;
  }
}

.TransactionForm__card_info {
  background-repeat: no-repeat;

  & .TransactionForm__entry {
    background-color: white;
    border: none;
    &::placeholder {
      color: var(--text-color);
      text-align: left;
    }
  }
}

.TransactionForm__account,
.TransactionForm__sum {
  & > * {
    border: 1px solid var(--main-color);
    width: 100%;
    border-radius: 15px;

    &::placeholder {
      color: var(--main-color);
    }
  }
}

.TransactionForm__name,
.TransactionForm__expiration {
  text-align: left;

  &::placeholder {
    color: var(--text-color);
  }
}

.TransactionForm__number {
  margin-bottom: 15px;
}

// CURRENCY
.TransactionForm__currency {
  position: relative;
  top: 15px;
  left: 0;
}
.TransactionForm__currency_label {
  position: relative;
  background-color: var(--inactive-color);
  color: white;
  padding: 15px 20px;

  width: 50px;
  height: 50px;
  border: 1px solid var(--inactive-color);
  border-radius: 15px;
  background-origin: border-box;
}

//MEDIA RULES
//MOBILE
@media screen and (max-width: 767px) {
  .TransactionForm {
    width: 100%;
  }

  .TransactionForm__entry {
    width: 100%;
  }

  .TransactionForm__card_info {
    background-image: url(../../img/creditcard_mob.png);

    padding: 72px 20px 100px 20px;
  }

  .TransactionForm__group {
    width: 100%;
  }

  .TransactionForm__name .TransactionForm__entry {
    width: 160px;
  }

  .TransactionForm__cvv {
    width: 90px;
    margin-left: auto;
  }

  .TransactionForm__submit {
    width: 100%;
  }
}

// TAB-DT
@media screen and (min-width: 768px) {
  .TransactionForm {
    width: 700px;
    display: flex;
    flex-direction: column;

    & > * {
      width: 100%;
    }
  }

  .TransactionForm__card_info {
    background-image: url(../../img/creditcard_full.png);
    background-size: contain;
    background-position: center;
    padding: 240px 50px 180px 35px;
    position: relative;
    margin-bottom: 20px;
  }
  .TransactionForm__card_data {
    max-width: 500px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
  }

  .TransactionForm__number {
    & .TransactionForm__entry {
      min-width: 500px;
    }
  }

  .TransactionForm__entry {
    max-width: 500px;
    font-size: 22px;
    height: 70px;
  }

  .TransactionForm__cvv {
    position: absolute;
    width: 40px;
    top: 300px;
    right: 90px;
    & .TransactionForm__entry {
      width: 90px;
      text-align: center;
      padding-left: 25px;
    }
  }

  .TransactionForm__submit {
    width: 50%;
    align-self: center;
  }
  .TransactionForm__payment_data {
    display: flex;
    justify-content: center;
  }

  .TransactionForm__payment_info {
    text-align: center;
  }

  .TransactionForm__name,
  .TransactionForm__expiration {
    & .TransactionForm__entry {
      max-width: 200px;
    }
  }
}
