.LoginForm {
}
.LoginForm__container {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.LoginForm__button {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
