.FormText__colored {
  background-color: var(--main-color);
  color: white;
}
.FormText__heading {
  text-align: left;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 20px;
}
.FormText__text {
  text-align: left;
  font-weight: 600;
  margin-bottom: 20px;
}
